<% const buttonClass = (variant && variant === 'inverted') ? 'bg-white text-blue-500 border border-blue-500' : 'bg-blue-500 text-white'; %>
<button id="<%=id%>" class="<%= buttonClass %> text-center w-32 px-4 py-2 rounded" type="<%= type %>"><%= text %></button>

