<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen">

    <%- include('../components/navigation', { user }) %>

    <% if (events && events.length > 0) { %>
        <div class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <% events.forEach(event => { %>
                <%- include('../components/card', { event: event.event }) %>
            <% }); %>
        </div>
    <% } else { %>
        <div class="h-screen flex items-center justify-center">
            <div>
                <p class="text-2xl">You do not have any favorite events</p>
                <div class="mt-6 flex justify-center">
                    <a href="/api/v1/events" class="text-white bg-blue-500 px-4 py-2 rounded-md">Discover Events</a>
                </div>
            </div>
        </div>
    <% } %>
    
</body>

</html>
